html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   font-family:monospace"Arial", "sans-serif";
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   margin-bottom: 100px;
   padding: 0;
   background-color: rgba(0, 0, 0, 0.959);
   overflow-y: scroll; 
}

.container {
   width: 100%;
   max-width: 800px;
   margin-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
}

.movies__list,
.cinema-ticket {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.cinema-ticket__lucy,
.cinema-ticket__justice-ieague,
.cinema-ticket__avatar2,
.cinema-ticket__batman{
   position: absolute;
   z-index: -8;
   opacity: 0;
   object-fit: cover; 
    display: none;
    /*    transform: scale(0);   */
}

.cinema-ticket:hover .cinema-ticket__lucy,
.cinema-ticket:hover .cinema-ticket__justice-ieague, 
.cinema-ticket:hover .cinema-ticket__avatar2,
.cinema-ticket:hover .cinema-ticket__batman{
   display: block; 
/*    transform: scale(1);   */
   z-index: -9;
   opacity: 0.5;
   top: -10px;
   left: 0;
   right: 0;   
   width:100%;
   height:150vh ;
} 

.cinema-ticket:hover .cinema-ticket__lucy,
.cinema-ticket:hover .cinema-ticket__avatar2,
.cinema-ticket:hover .cinema-ticket__batman {
   height:160vh ;
}

.cinema-ticket__lucy {
   object-position: top center;
} 

.movies__item {
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: column;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
   border-radius: 5px;
   text-align: center;
   transition: transform 1s ease;
}

.movies__item:hover {
   z-index: 5;
   opacity: 1;
}

.movies-card__link{
   position: relative;
   z-index: 2;
   display: block;
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0 0 20px 2px rgba(192, 192, 192, 0.767);
   transition:box-shadow 0.4s ease;
}
.movies__item:hover .movies-card__link {
/*    box-shadow: 2px 10px 10px -3px rgb(255, 251, 251); */
   box-shadow: 2px 10px 10px -3px rgb(66, 66, 66);
}

.movies-card__img {
   display: block;
}

.movies-card__info {
   position: absolute;
   z-index: 1;
   opacity: 0;
   transform: scale(0);
   top: 20px;
   left: -20px;
   right: -20px;
   padding-top: 340px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 5px;
   overflow: hidden;
   background-color: #fff;
   transition: color 0.3s ease, transform 0.6s cubic-bezier(.55,.19,.41,1.82);
}

 .movies__item:hover .movies-card__info {
 display: block;
 transform: scale(1);
 opacity: 1;
} 

.movies-card__name {
   margin:0;
   font-size: 23px;
   font-weight: bold;
   font-family: monospace;
   text-transform: uppercase;
   transition: color 0.3s ease;
}

.movies-card__tagline {
   margin-top: 0;
   font-size: 15px;
   color: rgb(77, 77, 77);
}

.movies-card__priecs {
   display: flex;
   flex-direction: column;
}
.movies-card__priec{
   color: rgb(77, 77, 77);
   font-size: 15px;
}
.old {   
   font-weight: bold;
   font-size: 18px;
   text-decoration: none;
   color:rgb(29, 192, 37);
   transition: color 0.3s ease;
}

.movies-card__buy-button {
   display: block;
   padding: 15px;
   margin-left: -20px;
   margin-right: -20px;
   font-family: monospace;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   background-color: rgb(51, 45, 45);
   color: white;
   transition:background-color 0.4s ease ;
}

.movies-card__buy-button:hover{
   border-radius:0 0 3px 3px;
   background-color: rgb(17, 17, 17);
}
